<% provide(:title, "Contact") %>
<h1>Contact</h1>
<hr>
<div class="row">
    <div class="col-md-5">
        <form>
            <div class="form-group">
                <div class="col-10">
                    <input class="form-control" type="email" value="EMAIL" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10">
                    <input class="form-control" type="text" value="NAME">
                </div>
            </div>
            <div class="form-group">
                <div class="col-10">
                    <input class="form-control" type="text" value="MESSAGE.." required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <p class="col-md-6 col-md-offset-1">
        Please feel free to leave a message.
    </p>
</div>