<h1>Project Playground</h1>
<hr>
<p><span id="ruby">Ruby</span> on Rails</p>
<h5 class="text-right">Background
	<span class="glyphicon glyphicon-camera"></span> taken by 
	<a href="https://www.instagram.com/judacribz/">
		<em>Judacribz</em>
	</a>
</h5>