<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-xs-12">
        <section class="user_info text-center">
            <h1>
    			<%= gravatar_for @user %>
    			<%= @user.name %>
  			</h1>
        </section>
    </aside>
</div>