@import "bootstrap-sprockets";
@import "bootstrap";


/* vars */

$mod-blue: #337ab7;
$light-grey: #eaeaea;
$ruby-red: #b30000;
$trans-purple: hsla(290, 60%, 70%, 0.3);
$visi-pruple: hsla(290, 60%, 70%, 0.8);

$footer-width: 88%;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin ruby_red {
    color: $ruby-red;
    text-shadow: 0 1px 4px #000;
}


/* main */

html {
    background-image: image-url("IMG_1740.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-position: right;
}


/* body */

body {
    #body_container {
        height: 80%;
        overflow: auto;
        
        .jumbotron {
            margin-top: 2%;
            background-color: $trans-purple;
            h1 {
                color: #000;
            }
        }
    }
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

h5 {
    margin-bottom: -2%;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
    em {
        text-shadow: 1px 2px 12px rgba(0, 0, 0, 1);
    }
}

p {
    color: #FFF;
    font-family: Lobster;
    font-weight: lighter;
}

a {
    text-shadow: 1px 1px 5px #FFF;
    text-decoration: none;
    &:-webkit-any-link {
        text-decoration: none;
        text-shadow: 0 1px 4px #000;
    }
}

#shit a:-webkit-any-link {
    &:hover,
    &:focus {
        color: #86592d;
    }
}

#ruby {
     @include ruby_red
}


/* header */

.navbar {
    border: 3px solid #000;
    background-color: rgba(0, 0, 0, 1);
    background-image: image-url("IMG_1740.JPG");
    background-size: cover;
    .navbar-brand {
        &,
        &:hover,
        &:focus {
            color: #FFF;
            background-color: $trans-purple;
            text-shadow: 0 1px 4px #000;
            font-family: 'Lemonada', cursive;
        }

        a {
            &:hover,
            &:focus,
            &.active {
                @include ruby_red;
            }
        }
    }

    .container #nav-main ul.nav li a {
        color: $visi-pruple;
        text-shadow: -1px 1px -1px #000;
        background-color: hsla(0, 0%, 0%, 0.9);
        font-style: italic;

        &:focus,
        &:hover,
        &.active {
            color: #000;
            background-color: $trans-purple;
            text-shadow: 0 1px 0 $mod-blue;
            font-style: italic;
        }
    }
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;

    padding: 1em;
    border-top: 1px solid $light-grey;

    small {
        float: left;
        color: $visi-pruple;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
            a {
                color: $visi-pruple;

                &:hover,
                &:focus {
                    color: $mod-blue;
                    text-shadow: 1px 1px 1px $mod-blue;
                }
            }
        }
    }
}


/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}


/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}


/* forms */

input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}