<footer class="footer">
  <small>
    SherOn Bala, © 2017
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "Sign Up", signup_path %>
      </li>
      <li>
        <%= link_to "Login", '#' %>
      </li>
    </ul>
  </nav>
</footer>