<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <%= active_link_to "Judacribz", root_path, active: :exclusive %>
            </div>
        </div>
        <div id="nav-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-default navbar-right">
                <li>
                    <%= active_link_to "About", about_path %>
                </li>
                <li>
                    <%= active_link_to "Help", help_path %>
                </li>
                <li>
                    <%= active_link_to "Contact", contact_path %>
                </li>
            </ul>
        </div>
    </div>
</nav>