<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>   
    <%= render 'layouts/fonts' %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
</head>

<body>
    <%= render 'layouts/header' %>
    <div id="body_container" class="container centered col-xs-12 col-sm-10">
        <div class="jumbotron">
            <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
        </div>
        <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
</body>

</html>